extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let starid = toShow._id 
    - let starcolor = toShow.color 
    - let starlight = toShow.light
    - let startemperature = toShow.temperature 
    - let actionid = "/resource/star/" + starid 
    script let actionid = "#{actionid}" 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{starid} 
  - let actionid = "/resource/star/" + starid 
  form(id='starForm', action= actionid, method="PUT") 
    div.form-group 
        label.starAttr(for='starcolor') star color 
        input#starcolor(type='text', name='starcolor', value= starcolor ) 
    div.form-group 
        label.starAttr(for='starlight') star light 
        input#starlight(type='text', name='starlight', value= starlight ) 
    div.form-group 
        label.starAttr(for='startemperature') star temperature
        input#startemperature(type='number', name='startemperature', value= startemperature ) 
    input(type="submit") 
 
  script. 
    document.forms['starForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    });