body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.StarAttr { 
  background-color: aquamarine; 
  width: 120px; 
  font: 300;
  height: 50px;
  font-size: 20px;
}
h1{
  margin-left: -10px;
  text-shadow: 2px 2px #0077ff;
  font: bold;
  width: 120px;
  color: brown;
}
.Star{
  width: 120px; 
  font: 300;
  height: 50px;
  font-size: 20px;
  background-color:gainsboro;

}
div{
  align-items: center;
}
